@using System.Globalization
@model List<BT2MWG.Models.Product>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //int i = 0;
    String i = (String)Url.ActionContext.RouteData.Values["id"];
    int j = Int32.Parse(i);
    string name = Model[j].Name;
    string image = Model[j].Image[0];
    decimal price = Model[j].Price;

    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
    string af = price.ToString("#,###", cul.NumberFormat);

    int productId = Model[j].ProductID;

    //Footer & Header
    Layout = "~/Views/Shared/_Footer.cshtml";


}


<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha512-sJa5KWq3F99QOeijUOm9O+BgDgVtzrWBBagZtjlW7F3I47NO1OaNJvbut+9KOPmjNr4Wb3blU4vQiQdi+Zk6wg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/public/css/style.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    <link href="~/public/css/_Footer.css" rel="stylesheet" runat="server" type="text/css" media="screen">
    <link href="~/public/css/_Header.css" rel="stylesheet" runat="server" type="text/css" media="screen">
    <script src="~/public/js/productController.js"></script>
    <title>@name</title>
</head>
<body>


    <div class="detail-body">
        <div class="detail-body-column">

            @*Hình ảnh sản phẩm*@
            @*<div class="detail-body-img">
            <img src="@image" alt="" width="600" height="594" />
            </div>

            <div class="slider-thumb">
            <a target="_blank" href="Model[0].Image">
            <img src="@image" alt="Forest" width="50">
            </a>
            </div>*@
            <div id="sync1" class="owl-carousel owl-theme">
                @for (var n = 0; n < 7; n++)
                {
                    <div class="item">

                        <img src="@Model[@j].Image[@n]" alt="" />
                    </div>
                }


            </div>

            <div id="sync2" class="owl-carousel owl-theme">

                @for (var o = 0; o < 7; o++)
                {
                    <div class="slider-thumb item">
                        <img src="@Model[@j].Image[@o]" alt="Forest" style="width: 80px;height: 102%">
                    </div>
                }


            </div>

            <div class="detail-body-column-1-thump">
            </div>
            <div class="detail-body-column-1-infor">
                <h2>THÔNG TIN SẢN PHẨM</h2>
                <h3>Đặc điểm nổi bật</h3>
                <ul>
                    <li>Đồ chơi trạm cảnh sát tuần tra và cứu hỏa biển Lego City 60308 bao gồm 297 chi tiết.</li>
                    <li>Bé có thể sáng tạo và tưởng tượng câu chuyện của mình.</li>
                    <li>Đồ chơi lắp ráp giúp rèn luyện tính rỉ mỉ, sáng tạo của bé khi lắp ráp.</li>
                    <li>Đồ chơi Lego City không có góc nhọn, thành phần độc hại nên an toàn cho bé.</li>
                </ul>
                <h3>Hướng dẫn sử dụng </h3>
                <ul>
                    <li>Đồ chơi không dùng pin.</li>
                    <li>Lắp ráp các khớp nối với nhau theo hình trên bao bì.</li>
                    <li>Có thể sáng tạo theo trí tưởng tượng của bé.</li>
                </ul>
            </div>
        </div>
        <div class="detail-body-column">
            <div class="detail-body-column-2-product-name">
                <div class="title">
                    <h3>@name</h3>
                </div>

                <div class="price-section">
                    <span class="current-price" >@af₫</span>
                    <span class="old-price">1.399.000₫</span>
                    <span class="discount">-20%</span>

                </div>
                <span class="product-id">#@productId</span>
                <div class="discount-detail">


                    <p>Khuyến mãi (Đến 31/05)</p>

                    <ul class="promotion-list">
                        <li>
                            Nhập mã AVAKID giảm 10% tối đa 100.000đ cho đơn hàng từ 300.000đ trở lên khi thanh toán qua Ví Moca trên ứng dụng Grab (click xem chi tiết)
                        </li>
                    </ul>

                </div>
                <div class="button-section">

                    <button class="button button-buy">MUA NGAY</button>
                    <button class="button button-see">XEM CỬA HÀNG CÒN HÀNG</button>

                </div>


                <ul class="policy">
                    <li class="doitra ">
                        <div class="iconl">
                            <i class="material-symbols-outlined">published_with_changes</i>
                        </div>

                        <p>Không áp dụng đổi trả, bảo hành (Không bao gồm xe đồ chơi điều khiển) <a href="/bao-hanh-doi-tra">Xem chi tiết</a></p>
                    </li>
                    <li class=" ">
                        <div class="iconl">
                            <i class="material-symbols-outlined">local_shipping</i>
                        </div>

                        <p>Miễn phí giao hàng đơn từ 500.000đ trong 10km đầu tiên</p>
                    </li>
                    <li class=" ">
                        <div class="material-symbols-outlined">
                            <i class="material-symbols-outlined">all_inbox</i>
                        </div>
                        <p>Giao hàng thu tiền, thanh toán online nhiều phương thức</p>
                    </li>
                    <li class=" ">
                        <div class="material-symbols-outlined">
                            <i class="material-symbols-outlined">headset_mic</i>
                        </div>
                        <p>Tổng đài: <a href="tel:1900866874">1900.866.874</a><br>(7h30 - 22h00)</p>
                    </li>
                </ul>

                @*Thông tin chi tiết của sản phẩm*@
                @await Component.InvokeAsync("ProductDetailBox")


            </div>

        </div>

    </div>

    <p class="others-toy-section">Đồ chơi khác</p>

    <div class="others-toy">
        <div class="others-toy-item">
            <img src="~/public/image/xe-dia-hinh.jpg" alt="" />
            <h3>
                Đồ chơi xe địa hình cứu hộ Lego City 60301
            </h3>
            <p class="others-toy-item-price">
                993.200₫
            </p>
            <span class="others-toy-item-old-price">
                1.399.000₫
            </span>
            <span class="others-toy-item-percent">
                29%
            </span>

            <div class="others-toy-item-buy">
                <p class="txt">Chọn mua</p>
            </div>
        </div>

        <div class="others-toy-item">
            <img src="~/public/image/hot-wheels.jpg" alt="" />
            <h3>
                Đồ chơi trạm rửa xe thông minh Hot Wheels
            </h3>
            <p class="others-toy-item-price">
                998.200₫
            </p>
            <span class="others-toy-item-old-price">
                1.349.000₫
            </span>
            <span class="others-toy-item-percent">
                26%
            </span>

            <div class="others-toy-item-buy">
                <p class="txt">Chọn mua</p>
            </div>
        </div>

        <div class="others-toy-item">
            <img src="~/public/image/thung-gach.jpg" alt="" />
            <h3>
                Đồ chơi thùng gạch sáng tạo Lego Duplo
            </h3>
            <p class="others-toy-item-price">
                1.002.400₫
            </p>
            <span class="others-toy-item-old-price">
                1.319.000₫
            </span>
            <span class="others-toy-item-percent">
                24%
            </span>

            <div class="others-toy-item-buy">
                <p class="txt">Chọn mua</p>
            </div>
        </div>

        <div class="others-toy-item">
            <img src="~/public/image/tau-chien.jpg" alt="" />
            <h3>
                Đồ chơi tàu chiến hạm bay Bounty Lego
            </h3>
            <p class="others-toy-item-price">
                1.039.200₫
            </p>
            <span class="others-toy-item-old-price">
                1.299.000₫
            </span>
            <span class="others-toy-item-percent">
                20%
            </span>

            <div class="others-toy-item-buy">
                <p class="txt">Chọn mua</p>
            </div>
        </div>

        <div class="others-toy-item">
            <img src="~/public/image/phi-co.jpg" alt="" />
            <h3>
                Đồ chơi phi cơ chiến đấu của Cole Lego
            </h3>
            <p class="others-toy-item-price">
                1.000.200₫
            </p>
            <span class="others-toy-item-old-price">
                1.299.000₫
            </span>
            <span class="others-toy-item-percent">
                23%
            </span>

            <div class="others-toy-item-buy">
                <p class="txt">Chọn mua</p>
            </div>
        </div>

        <div class="others-toy-item">
            <img src="~/public/image/cam-trai.jpg" alt="" />
            <h3>
                Đồ chơi xe địa hình cứu hộ Lego City 60301
            </h3>
            <p class="others-toy-item-price">
                1.002.500₫
            </p>
            <span class="others-toy-item-old-price">
                1.269.000₫
            </span>
            <span class="others-toy-item-percent">
                21%
            </span>

            <div class="others-toy-item-buy">
                <p class="txt">Chọn mua</p>
            </div>
        </div>



    </div>
</body>
<script>
    $(document).ready(function() {
        var sync1 = $("#sync1");
        var sync2 = $("#sync2");
        var slidesPerPage = 7; //globaly define number of elements per page
        var syncedSecondary = true;

        sync1
            .owlCarousel({
                items: 1,
                slideSpeed: 2000,
                nav: true,
                autoplay: false,
                dots: true,
                loop: true,
                responsiveRefreshRate: 200,
                navText: [
                    '<svg width="100%" height="100%" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>',
                    '<svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'
                ]
            })
            .on("changed.owl.carousel", syncPosition);

        sync2
            .on("initialized.owl.carousel", function() {
                sync2.find(".owl-item").eq(0).addClass("current");
            })
            .owlCarousel({
                items: slidesPerPage,
                dots: true,
                nav: true,
                smartSpeed: 200,
                slideSpeed: 500,
                slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
                responsiveRefreshRate: 100
            })
            .on("changed.owl.carousel", syncPosition2);

        function syncPosition(el) {
            //if you set loop to false, you have to restore this next line
            //var current = el.item.index;

            //if you disable loop you have to comment this block
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);

            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }

            //end block

            sync2
                .find(".owl-item")
                .removeClass("current")
                .eq(current)
                .addClass("current");
            var onscreen = sync2.find(".owl-item.active").length - 1;
            var start = sync2.find(".owl-item.active").first().index();
            var end = sync2.find(".owl-item.active").last().index();

            if (current > end) {
                sync2.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                sync2.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                sync1.data("owl.carousel").to(number, 100, true);
            }
        }

        sync2.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            sync1.data("owl.carousel").to(number, 300, true);
        });
    });


</script>
</html>