@using System.Globalization
@model List<BT2MWG.Models.Product>;
@*
*@
@{
    
    String i = (String)Url.ActionContext.RouteData.Values["id"];
    int j = Int32.Parse(i);

    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   
    string af = Model[j].Price.ToString("#,###", cul.NumberFormat);

    decimal priceNew = Model[j].Price - (Model[j].Price * Model[j].Discount) / 100;

    string aff = priceNew.ToString("#,###", cul.NumberFormat);
    //Footer & Header
    Layout = "~/Views/Shared/_Footer.cshtml";

}


<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha512-sJa5KWq3F99QOeijUOm9O+BgDgVtzrWBBagZtjlW7F3I47NO1OaNJvbut+9KOPmjNr4Wb3blU4vQiQdi+Zk6wg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/public/css/style.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    <link href="~/public/css/_Footer.css" rel="stylesheet" runat="server" type="text/css" media="screen">
    <script src="~/public/js/slider.js"></script>
    <script src="~/public/js/productController.js"></script>
    <title>@Model[j].Name</title>
</head>
<body>


    <div class="detail-body">
        <div class="detail-body-column">
            <div id="sync1" class="owl-carousel owl-theme">
                @foreach(var item in @Model[@j].Image)
                {
                    <div class="item">
                        <img src="@item" alt="" />
                    </div>
                }
            </div>
            <div id="sync2" class="owl-carousel owl-theme">

                @foreach(var item in @Model[@j].Image)
                {
                    <div class="slider-thumb item">
                        <img src="@item" alt="Forest" style="width: 80px;height: 102%">
                    </div>
                }
            </div>

            @await Html.PartialAsync("_Info")
        </div>
        <div class="detail-body-column">
            @await Html.PartialAsync("_DetailBody")
        </div>

    </div>

    @*Mục đồ chơi khác*@
    <p class="others-toy-section">Đồ chơi khác</p>
    @await Html.PartialAsync("_OthersToy")


</body>
</html>