@using TTTN.Helpers
@using TTTN.Models
@using TTTN.ViewModel
@model CartPageViewModel;
@{
    decimal tongTien = 0;
    int count = 0;
}
<style>
    .pagination {
        margin-left: 45%;
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 10px 22px;
            text-decoration: none;
            transition: background-color .3s;
        }

            .pagination a.active {
                background-color: #2cabe3;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
@if(@Model.listctgh.Count>0 && @Model != null)
{
    <table class="table" id="cart_tab">
    <strong>Mã giỏ hàng: </strong>@Model.listctgh.FirstOrDefault().MaGioHang
    <tr>
        <th>STT</th>
        <th>Tên đồ chơi</th>
        <th>Hình ảnh</th>
        <th>Số lượng</th>
        <th>Giá</th>
    </tr>
    @foreach (var item in @Model.listctgh)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.DoChoi.TenSua</td>
            <td><img class ="imgctgh" src="@item.DoChoi.DSHINHANH.FirstOrDefault().HinhAnh"/></td>
            <td>@item.SoLuongMua</td>
            <td>@item.Gia.ToVnd()</td>
           @* <td></td>*@
           @{
               tongTien = tongTien + item.Gia;
           }
        </tr>
    }
    
</table>
<label style="float: right;"><strong>Tổng tiền: </strong> @tongTien.ToVnd()</label>
<br />
<label>Họ tên người nhận: @Model.gh.HoTenNguoiNhan</label>
<br />
<label>CMND người nhận: @Model.gh.CMNDNguoNhan</label>
<br />
<label>Thời gian nhận hàng: @Model.gh.ThoiGianNhanHang</label>
<br />
<label>Địa chỉ giao: @Model.gh.DiaChiNhan</label>
}

