@using BT2MWG.Models
@using BT2MWG.ViewModel;
@using System.Globalization
@using Microsoft.AspNetCore.Http
@model ClientCartPageViewModel;
@{
    var b = Model;

    db dbo = new db();

    int ptgiamgia = 0;
    decimal giaSauGiam = 0;
    decimal tongTien = 0;
    @foreach (var item in Model.cartItems)
    {
        item.DoChoi.DSHINHANH = dbo.layTatCaAnhTheoDoChoi(item.DoChoi.MaDoChoi);
    }
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
    Layout = "~/Views/Shared/_Footer.cshtml";



}

<link href="~/public/css/cart/cart.css" rel="stylesheet">


<div id="app" class="bluekids">
    <section>
        <div class="yourCart top-content">
            @if (@Model != null && @Model.cartItems.Count != 0)
            {
                @if (@Model.cartItems.FirstOrDefault().loginfailed != null && @Model.cartItems.FirstOrDefault().loginfailed == true)
                {
                    <h1>Vui lòng kiểm tra lại tài khoản hoặc mật khẩu</h1>
                }
            }


            <a href="/" class="buymore">Mua thêm sản phẩm khác</a>
            <span>
                Giỏ hàng của bạn
                <span>
                </span>
            </span>
        </div>
        <div class="middleCart">
            <ul class="listing-cart">
                @foreach (var item in Model.cartItems)
                {

                    if (item.DoChoi.KHUYENMAI.CTKM != null)
                    {
                        ptgiamgia = item.DoChoi.KHUYENMAI.CTKM.PTGiamGia;
                    }

                    var gia = item.DoChoi.ThayDoiGia.Gia;
                    giaSauGiam = gia - (gia * ptgiamgia) / 100;
                    tongTien = tongTien + (giaSauGiam * item.qty);


                    string giaOld = gia.ToString("#,###", cul.NumberFormat);
                    string giaNew = giaSauGiam.ToString("#,###", cul.NumberFormat);

                    <li class="product-item">
                        <div class="imgsp">
                            <a href="/quan-be-gai/quan-legging-be-gai-ava-bs13-mau-xam">
                                <img src="@item.DoChoi.DSHINHANH.FirstOrDefault().HinhAnh">
                            </a>
                            <div>
                                <button data-id="@item.DoChoi.MaDoChoi" class="delete-item-cart">
                                    <span>
                                    </span> Xóa
                                </button>
                            </div>
                        </div>
                        <div class="infosp">
                            <div class="name-price">
                                <div class="name-container">
                                    <a href="/quan-be-gai/quan-legging-be-gai-ava-bs13-mau-xam" class="product-item__name">
                                        @item.DoChoi.TenDoChoi
                                    </a>
                                </div>
                                @{
                                            @if (ptgiamgia > 0)
                                    {
                                                <span>
                                                    @giaNew₫ <!----><strike>@giaOld₫</strike>
                                                </span>
                                    }
                                    else
                                    {
                                                <span>
                                                    @giaNew₫
                                                </span>
                                    }
                                }
                            </div>
                            <hr style="width: 65%; visibility: hidden;"><!----><!---->
                            <div class="choose-color">
                                <div class="product-size-and-color-selection">
                                    <aside>
                                        <span> Màu: <span class="color-text">Xám</span></span>
                                        <div class="sg-color" style="display: none;">
                                            <div class="select-color active">
                                                <img data-src="https://cdn.tgdd.vn/Products/Images/10362/278829/quan-legging-be-gai-ava-bs13-mau-xam-160722-062408-600x600.jpg" src="https://cdn.tgdd.vn/Products/Images/10362/278829/quan-legging-be-gai-ava-bs13-mau-xam-160722-062408-600x600.jpg" loading="lazy" class="lazyload">
                                                <small>Xám</small>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                                <div class="choosenumber" fragment="156e146d431">
                                    @{
                                        string clsPointer = item.qty == 1 ? "pointer-events: none;" : "pointer-events: all;";
                                    }
                                    <div class="minus" data-id="@item.DoChoi.MaDoChoi" style="@clsPointer">
                                        <i style="background-color: rgb(0, 0, 0);">
                                        </i>

                                    </div>

                                    <input id="@item.DoChoi.MaDoChoi" type="text" maxlength="3" class="number" value="@item.qty" style="border: none; pointer-events: all;">
                                    <div class="plus" data-id="@item.DoChoi.MaDoChoi" style="pointer-events: all;">
                                        <i style="background-color: rgb(0, 0, 0);">
                                        </i>
                                        <i style="background-color: rgb(0, 0, 0);">
                                        </i>
                                    </div><!----><input type="hidden">
                                </div>
                            </div>
                        </div>
                    </li>
                }
                @{
                    string tongTienFormat = tongTien.ToString("#,###", cul.NumberFormat);
                }
            </ul>
            <div class="infor-customer">
                <h4>Thông tin khách hàng</h4>
                <form class="form-customer">
                    <div class="sex-customer">
                        <input type="hidden" value="-1">
                    </div>
                    @if (Model.curCus != null)
                    {
                        <div class="fillinform">
                            <div class="fillname">
                                <input placeholder="Họ và Tên" maxlength="50" id="cusName" value="@Model.curCus.hotenkh" name="cusName" required="required" class="capitalize untouched pristine required">
                                <label for="cusName" class="form-label"></label>
                            </div>
                            <div class="fillname phoneNumber">
                                <input placeholder="Số điện thoại" type="tel" maxlength="10" value="@Model.curCus.sdt" id="cusPhone" name="cusPhone" required="required" class="untouched pristine required phoneNumber__input">
                                <label for="cusPhone" class="form-label">

                                </label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="fillinform">
                            <div class="fillname">
                                <input placeholder="Họ và Tên người nhận" maxlength="50" id="cusName" name="cusName" required="required" class="capitalize untouched pristine required">
                                <label for="cusName" class="form-label"></label>
                            </div>
                            <div class="fillname phoneNumber">
                                <input placeholder="Số điện thoại" type="tel" maxlength="10" id="cusPhone" name="cusPhone" required="required" class="untouched pristine required phoneNumber__input">
                                <label for="cusPhone" class="form-label">

                                </label>
                            </div>
                            <div class="fillname phoneNumber">
                                <input placeholder="Thời gian nhận hàng" type="date" maxlength="10" id="cusDate" name="cusPhone" required="required" class="untouched pristine required phoneNumber__input">
                                <label for="cusPhone" class="form-label">

                                </label>
                            </div>
                            <div class="fillname">
                                <input placeholder="Địa chỉ nhận hàng"  maxlength="10" id="cusAdd" name="cusPhone" required="required" class="untouched pristine required">
                                <label for="cusPhone" class="form-label">

                                </label>
                            </div>

                        </div>
                    }

                </form>
            </div>
            <div class="finaltotal">
                <div class="area-total">
                    <div data-tmp-total-money-in-all="@tongTien" class="total-price">
                        <strong>Tổng tiền:</strong>
                        @{
                            if (!string.IsNullOrEmpty(@tongTienFormat))
                            {
                                        <strong id="total-price">@tongTienFormat₫</strong>
                            }
                        }
                    </div>
                </div>
                <button type="button" class="submitorder">
                    @*<b>@Html.ActionLink("THANH TOÁN","PaymentWithPaypal","Paypal",new{@style="color: #fff"})</b>*@
                    <b id="pay">THANH TOÁN</b>
                </button>

            </div>
        </div>
    </section>

    @*khung đăng nhập///////////*@
    <div class="bg-promo hide"></div>
    <div class="alert-promo hide">
        <div class="close-popup" onclick="closePopup()">
            <i></i>
        </div><span>ĐĂNG NHẬP</span>
        <p>Tên đăng nhập</p>
        <input id="id-pay" />
        <p>Mật khẩu</p>
        <input id="pw-pay" type="password"/>
        @*<b>@Html.ActionLink("ĐĂNG NHẬP","PaymentWithPaypal","Paypal",new{@style="color: #fff"})</b>*@
        <b><a id="dangnhap">ĐĂNG NHẬP</a></b>
        <div class="resize-triggers">
            <div class="expand-trigger">
                <div style="width: 341px; height: 169px;">
                </div>
            </div><div class="contract-trigger"></div>
        </div>
    </div>
    <script>
        
        $('#dangnhap').click(function() {

            if ($("#cusName").val() == '') {
                alert('Vui lòng nhập tên người nhận hàng !')
            }           
            else if ($("#cusDate").val() == '') {
                alert('Vui lòng nhập thời gian nhận hàng !')
            }
            else if ($("#cusAdd").val() == '') {
                alert('Vui lòng nhập địa chỉ nhận hàng !')
            }
            else {

                var username = $('#id-pay').val();
                var password = $('#pw-pay').val();
                window.location.href = "@Url.Action("PaymentWithPaypal", "Paypal")" + "?username=" + $("#id-pay").val() + "&pw=" + $("#pw-pay").val() + "&cusName=" + $("#cusName").val() + "&cusDate=" + $("#cusDate").val()+ "&cusAdd=" + $("#cusAdd").val();

            }
        });

    </script>
    <script src="~/public/js/cart/cart.js"></script>
</div>



